.transactions-title {
  font-weight: 700;
  font-size: 2rem;
  color: #1f2937; /* dark slate */
}

.table-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #1f2937;
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.table th {
  color: #6b7280; /* soft gray */
  font-weight: 600;
}

.table td {
  font-weight: 400;
  color: #374151;
}

.fw-medium {
  font-weight: 500 !important; /* meno bold del fw-bold */
}
