<h1 class="overview-title">Overview</h1>

<div class="container overview-cards text-center">
  <div class="row g-2 justify-content-center">
    
    <div class="col-md-3">
      <div class="card card-dark">
        <div class="card-title">Current Balance</div>
        <div class="card-value text-white">${{ currentBalanceAmount }}</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-light">
        <div class="card-title">Income</div>
        <div class="card-value">${{ incomeAmount }}</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-light">
        <div class="card-title">Expenses</div>
        <div class="card-value">${{ expensesAmount }}</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <div class=" col-md-7 d-flex flex-column gap-4">
      <!-- La sessione di Pots -->
      <pots-component></pots-component>
      <!-- Sessione per le transazioni -->
      <transactions-component></transactions-component>
    </div>
<!-- col-md-6 col-lg-5 col-xl-4 d-flex flex-column gap-4 -->
    <div class="col-md-5 d-flex flex-column gap-4 mb-3">
      <!-- budgets -->
      <budgets-component></budgets-component>
      <!-- Reccuring bills -->
      <recurring-bills-component></recurring-bills-component>
    </div>
  </div>
</div>

