<div class="container pots-card bg-white mt-2 p-4 rounded-4 shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="fw-bold">Transactions</h5>
        <a href="#" class="text-muted">View All <i class="fas fa-chevron-right small"></i></a>
    </div>
    <!-- Singola transazione -->
    <div class="d-flex justify-content-between align-items-center mb-3" *ngFor="let tx of transactions">
        <div class="d-flex align-items-center">
            <img [src]="tx.image" class="rounded-circle me-3" width="40" height="40" alt="profile">
            <span class="fw-semibold">{{ tx.name }}</span>
        </div>

        <div class="text-end">
            <div [ngClass]="{'text-success': tx.amount > 0, 'text-danger': tx.amount < 0}" class="fw-bold">
            {{ tx.amount > 0 ? '+' : '' }}${{ tx.amount }}
            </div>
            <div class="text-muted small">{{ tx.date }}</div>
        </div>
    </div>
</div>